
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}

.navbar
{
  display: flex;
  align-items:center;
  justify-content: center;
  position:static;
  top:0;
  cursor: pointer;
  flex-direction: row;
  color:white;
  
}

.logo img{
    border: 5px solid white;
    height:100px;
    width:100px; 
    margin:20px 35px;
    border-radius: 100px;
}

.nav-list
{
    width:70%;
 text-decoration: none;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;

}

.nav-list li {
    margin: 35px 30px;
    font-size: 25px;
    list-style: none;
}
.nav-list li a{
 text-decoration: none;
 color:white;
}
.nav-list li a:hover{
    color:red;
   }
#search {
    height: 28px;
    width: 300px;
    margin: 55px 0px;
    border-radius: 12px;
}

.btn-sm {
    height: 29px;
    margin: 55px 9px;
    padding:0px 20px;
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 5px;

}
.btn-sm:hover{
    color:blue;
}
.rightNav
{
    width:30%;
    display: flex;
    flex-direction: row;
}
 
.burger{
    display: none;
    position: absolute;
    cursor:pointer;
    right:5%;
    top:15px;
}
.line{
    width:33px;
    background-color: white;
    height:4px;
    margin:5px 3px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darker;
}

.firstSection{
    height:50vh;
}
.box-main
{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    margin:100px auto;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    max-width: 50%;
}
.first-half{
    width:80%;
    display:flex;
    flex-direction: column;
    margin: 0px 25px;
}
.second-half img{
    height:250px;
    width:250px;
    border-radius: 140px;
    border:5px solid white;
}

.btn{
    font-size: 15px;
    padding:1px 3px;
    margin:10px 2px;
    border-radius: 5px;
    background: none;
    color:white;
    cursor: pointer;
    border:2px solid white;
}
.paras{
    padding: 0px 65px;
}
.text-big{
   font-size:25px;
   font-family: 'Righteous', cursive;

}
.text-small{
 font-size: 15px ;
 font-family: 'Righteous', cursive;
}

.secRight{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 40px auto;
    font-family: 'Righteous', cursive;
}

.imgFluid{
    height: 190px;
    width:250px;
    border-radius: 20px;
}

.contact
{
    background-color: aliceblue;
    font-family: 'Righteous', cursive;
    height: 100vh;
}

.text-center{
    text-align: center;
    font-size:50px;
}

.form{
    max-width: 720px;
    margin:50px auto;
    font-family: 'Righteous', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form input{
    margin:15px 0px;
    width:100%;
    font-size: 22px;
    border:2px solid grey;
    border-radius:6px;
    padding:8px 0px;
}

.submit {
    color: black;
    border: 2px solid black;
    background: none;
    padding: 10px 35px;
    margin-top: 15px;
    border-radius: 5px;
}
.submit:hover {
    background-color: red;
}

