extends base.pug

block scripts

block style 
    style 
       include ../static/style.css
       include ../static/classes.css

block content
    div.class
        h1.classh1 Classes Time Table
        div.boxclass
            div.inner 
                h1 Class:10:00A.M. - 12:00P.M.
            div.innerinfo 
                h2 Hip Hop
            

        div.boxclass
            div.inner 
                h1 Class:10:00A.M. - 12:00P.M.
            div.innerinfo 
                h2 Contemporary
            

            
        div.boxclass
            div.inner 
                h1 Class:10:00A.M. - 12:00P.M.
            div.innerinfo 
                h2 Dance WorkOut
            



        div.boxclass
            div.inner 
                h1 Class:10:00A.M. - 12:00P.M.
            div.innerinfo 
                h2 K-pop

 
        div.boxclass
            div.inner 
                h1 Class:1:00P.M. - 3:00P.M.
            div.innerinfo 
                h2 Ballet 
                 

            
        div.boxclass
            div.inner 
                h1 Classes:1:00P.M. - 3:00P.M.
            div.innerinfo 
                h2 Salsa



        div.boxclass
            div.inner 
               h1 Class:1:00P.M. - 3:00P.M.
            div.innerinfo 
                h2 Popping 


        div.boxclass
            div.inner 
                h1 Class:1:00P.M. - 3:00P.M.
            div.innerinfo 
                h2 Lite Feet 

        div.boxclass
            div.inner 
                h1 Class:3:00P.M. - 5:00P.M.
            div.innerinfo 
                h2 Jazz

        div.boxclass
            div.inner 
                 h1 Class:3:00P.M. - 5:00P.M.
            div.innerinfo 
                h2 Heels

        div.boxclass
            div.inner 
                 h1 Class:3:00P.M. - 5:00P.M.
            div.innerinfo 
                h2 House 

        div.boxclass
            div.inner 
                h1 Class:3:00P.M. - 5:00P.M.
            div.innerinfo 
                h2 Locking                 
        