extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
       include ../static/style.css
       include ../static/about.css

block content
    div.about 
        h1 Join Us Today For Your  First Dance Class 
        div.aboutInner 
            div.info 
                h2 ADA
                p Akshay Dance Academy (ADA) was founded in 2017 by Mr. Akshay Kumar and since then has predominantly been active in educating dance enthusiasts. ADA completed 4 years on the 22nd of June 2021 and has taught over 20,000+ students in the country. Akshay believes the combination of technique work and stylized movement can bring out the quality of a professional dancer in one, and therefore introduced Jazz Funk to the city for the very first time in 2017. Dance styles like Contemporary & Hip Hop are also taught at our studios across the city. At the academy, awaits a super fun, passionate and dedicated team of artists and teachers to make your dance journey a memorable one!
            div.img1
                img(src="/static/img/img.jpg")
        div.aboutOuter
            div.img2 
                img(src="/static/img/akshay.jpg")
            div.info 
                h2 Akshay Kumar
                p Mr. Akshay, Founder and Director of ADA began his career in dance in the year 2010 under the guidance of Ashley Lobo at The Danceworx (Delhi). He has acquired professional training in Ballet, Jazz, Contemporary, Hip Hop and Jazz Funk choreography along with Latin Ballroom from teachers and choreographers on international repute. Among his several achievements, Akshay's memorable innings on Dance India Dance, Jhalak Dikhla Jaa and So You Think You Can Dance, won hearts of people all over the world. With the help of his team at ADA, Akshay teaches the importance of technique and quality movement in dance to his students in Mumbai. His craft has inspired many across the country.